pipeline/SQL Server Custom Query_Append.json
{
	"name": "SQL Server Custom Query_Append",
	"properties": {
		"activities": [
			{
				"name": "LookupMetadataGroupId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT GROUP_ID,OBJECT_ID,OBJECT_NAME,SRC_CONNECTION_ID,SRC_CONNECTION_TYPE_ID,SRC_QUERY,SRC_SCHEMA,SRC_TABLE,SRC_COLUMNS,TGT_CONNECTION_ID,TGT_SCHEMA_NAME,TGT_TABLE_NAME,MAPPING_EXPRESSION,TGT_LOAD_OPTION,TGT_PRIMARY_KEY,s.CONNECTION_ID as RDBMS_CONNECTION_ID, s.DB_NAME AS SRC_DATABASE_NAME, s.SYSTEM_ID as SID, s.HOST_NAME as SRC_HOST_NAME, s.USERNAME as SRC_RDBMS_USERNAME, s.PASSWORD as SRC_RDBMS_PASSWORD,t.DB_NAME as SQL_DB_NAME,t.SYSTEM_ID as SQL_SCHEMA,t.HOST_NAME  as SQL_HOST_NAME,t.PORT_NUMBER as SQL_PORT_NUMBER,t.USERNAME as SQL_USERNAME,t.PASSWORD as SQL_PASSWORD FROM dbo.CUSTOM_QUERY_DETAILS r left join dbo.RDBMS_CONNECTION_DETAILS s on r.SRC_CONNECTION_ID = s.CONNECTION_ID left join dbo.RDBMS_CONNECTION_DETAILS t on r.TGT_CONNECTION_ID = s.CONNECTION_ID where group_id=@{pipeline().parameters.groupID}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLServerMetadataDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachObject",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMetadataGroupId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMetadataGroupId').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Start Execution",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[DATA_FACTORY_PIPELINE_EXEC_LOG_SP]",
								"storedProcedureParameters": {
									"EXEC_START_TIME": {
										"value": null,
										"type": "DateTime"
									},
									"EXEC_STATUS": {
										"value": null,
										"type": "String"
									},
									"GROUP_ID": {
										"value": {
											"value": "@pipeline().parameters.groupID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OBJECT_ID": {
										"value": {
											"value": "@item().OBJECT_ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OBJECT_NAME": {
										"value": {
											"value": "@item().OBJECT_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"PIPELINE_NAME": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RUN_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SRC_EXTRACT_TYPE": {
										"value": null,
										"type": "String"
									},
									"SRC_REC_COUNT": {
										"value": null,
										"type": "String"
									},
									"StatementType": {
										"value": "Insert",
										"type": "String"
									},
									"TGT_LOAD_TYPE": {
										"value": {
											"value": "@item().TGT_LOAD_OPTION",
											"type": "Expression"
										},
										"type": "String"
									},
									"TGT_REC_COUNT": {
										"value": null,
										"type": "String"
									},
									"TRIGGER_ID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGER_NAME": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGER_TYPE": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"ERROR_MESSAGE": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQLServerMetadataDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Failure Of Step",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "RDBMSToHyperscaleAppend",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[DATA_FACTORY_PIPELINE_EXEC_LOG_SP]",
								"storedProcedureParameters": {
									"EXEC_START_TIME": {
										"value": null,
										"type": "DateTime"
									},
									"EXEC_STATUS": {
										"value": "FAILED",
										"type": "String"
									},
									"GROUP_ID": {
										"value": {
											"value": "@pipeline().parameters.groupID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OBJECT_ID": {
										"value": {
											"value": "@item().OBJECT_ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OBJECT_NAME": {
										"value": null,
										"type": "String"
									},
									"PIPELINE_NAME": {
										"value": null,
										"type": "String"
									},
									"RUN_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SRC_EXTRACT_TYPE": {
										"value": null,
										"type": "String"
									},
									"SRC_REC_COUNT": {
										"value": "NA",
										"type": "String"
									},
									"StatementType": {
										"value": "UpdateStatus",
										"type": "String"
									},
									"TGT_LOAD_TYPE": {
										"value": null,
										"type": "String"
									},
									"TGT_REC_COUNT": {
										"value": "NA",
										"type": "String"
									},
									"TRIGGER_ID": {
										"value": null,
										"type": "String"
									},
									"TRIGGER_NAME": {
										"value": null,
										"type": "String"
									},
									"TRIGGER_TYPE": {
										"value": null,
										"type": "String"
									},
									"ERROR_MESSAGE": {
										"value": {
											"value": "@activity('RDBMSToHyperscaleAppend').Error.Message",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQLServerMetadataDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Success Of Step",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "RDBMSToHyperscaleAppend",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[DATA_FACTORY_PIPELINE_EXEC_LOG_SP]",
								"storedProcedureParameters": {
									"EXEC_START_TIME": {
										"value": null,
										"type": "DateTime"
									},
									"EXEC_STATUS": {
										"value": "SUCCESS",
										"type": "String"
									},
									"GROUP_ID": {
										"value": {
											"value": "@pipeline().parameters.groupID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OBJECT_ID": {
										"value": {
											"value": "@item().OBJECT_ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OBJECT_NAME": {
										"value": null,
										"type": "String"
									},
									"PIPELINE_NAME": {
										"value": null,
										"type": "String"
									},
									"RUN_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SRC_EXTRACT_TYPE": {
										"value": null,
										"type": "String"
									},
									"SRC_REC_COUNT": {
										"value": {
											"value": "@activity('RDBMSToHyperscaleAppend').output.rowsRead",
											"type": "Expression"
										},
										"type": "String"
									},
									"StatementType": {
										"value": "UpdateStatus",
										"type": "String"
									},
									"TGT_LOAD_TYPE": {
										"value": null,
										"type": "String"
									},
									"TGT_REC_COUNT": {
										"value": {
											"value": "@activity('RDBMSToHyperscaleAppend').output.rowsCopied",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGER_ID": {
										"value": null,
										"type": "String"
									},
									"TRIGGER_NAME": {
										"value": null,
										"type": "String"
									},
									"TRIGGER_TYPE": {
										"value": null,
										"type": "String"
									},
									"ERROR_MESSAGE": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQLServerMetadataDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "RDBMSToHyperscaleAppend",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Start Execution",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@item().SRC_QUERY",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"value": "@json(item().MAPPING_EXPRESSION)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "CustomQueryAzureHyperscale",
									"type": "DatasetReference",
									"parameters": {
										"host": {
											"value": "@item().SRC_HOST_NAME",
											"type": "Expression"
										},
										"db": {
											"value": "@item().SRC_DATABASE_NAME",
											"type": "Expression"
										},
										"username": {
											"value": "@item().SRC_RDBMS_USERNAME",
											"type": "Expression"
										},
										"password": {
											"value": "@item().SRC_RDBMS_PASSWORD",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureHyperscale",
									"type": "DatasetReference",
									"parameters": {
										"host": "@item().SQL_HOST_NAM",
										"db": "@item().SQL_DB_NAME",
										"username": "@item().SQL_USERNAME",
										"password": "@item().SQL_PASSWORD",
										"schema": "@item().TGT_SCHEMA_NAME",
										"table": "@item().TGT_TABLE_NAME",
										"primarykeys": "@item().TGT_PRIMARY_KEY"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"groupID": {
				"type": "String",
				"defaultValue": "10"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-08-19T13:12:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}