adf/pipeline/MSSQL_TO_HyperScale_Loader.json
{
	"name": "MSSQL_TO_HyperScale_Loader",
	"properties": {
		"activities": [
			{
				"name": "LookupMetadataGroupId",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set InstanceID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT FLOW_ID,GROUP_ID,OBJECT_ID,OBJECT_NAME,SRC_CONNECTION_ID,SRC_CONNECTION_TYPE_ID,SRC_SCHEMA,SRC_TABLE,SRC_COLUMNS,SRC_EXTRACT_TYPE,SRC_INCREMENTAL_COLUMN,SRC_INCREMENTAL_VALUE,TGT_INCREMENTAL_COLUMN,TGT_CONNECTION_ID,TGT_SCHEMA_NAME,TGT_TABLE_NAME,MAPPING_EXPRESSION,TGT_LOAD_OPTION,TGT_PRIMARY_KEY,s.CONNECTION_ID as RDBMS_CONNECTION_ID, s.DB_NAME AS SRC_DATABASE_NAME, s.SYSTEM_ID as SID, s.HOST_NAME as SRC_HOST_NAME, s.USERNAME as SRC_RDBMS_USERNAME, s.PASSWORD as SRC_RDBMS_PASSWORD,t.DB_NAME as SQL_DB_NAME,t.SYSTEM_ID as SQL_SCHEMA,t.HOST_NAME  as SQL_HOST_NAME,t.PORT_NUMBER as SQL_PORT_NUMBER,t.USERNAME as SQL_USERNAME,t.PASSWORD as SQL_PASSWORD FROM dbo.RDBMS_INGESTION_DETAILS r left join dbo.RDBMS_CONNECTION_DETAILS s on r.SRC_CONNECTION_ID = s.CONNECTION_ID left join dbo.RDBMS_CONNECTION_DETAILS t on r.TGT_CONNECTION_ID = s.CONNECTION_ID where group_id=@{pipeline().parameters.groupID}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLServerMetadataDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get InstanceID",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start Execution",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(EXEC_INSTANCE_ID) AS InstanceID FROM dbo.DATA_FLOW_EXEC_LOG WHERE FLOW_ID= '@{pipeline().parameters.FLOW_ID}' AND EXEC_STATUS='RUNNING'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AuditAndExecutionLogDataset",
						"type": "DatasetReference",
						"parameters": {
							"MetadataTableName": "DATA_FLOW_EXEC_LOG "
						}
					}
				}
			},
			{
				"name": "Set InstanceID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get InstanceID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "InstanceID",
					"value": {
						"value": "@string(activity('Get InstanceID').output.firstRow.InstanceID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Start Execution",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[DATA_FLOW_EXEC_LOG_SP]",
					"storedProcedureParameters": {
						"EXEC_INSTANCE_ID": {
							"value": null,
							"type": "Int32"
						},
						"EXEC_STATUS": {
							"value": "RUNNING",
							"type": "String"
						},
						"FLOW_ID": {
							"value": {
								"value": "@pipeline().parameters.FLOW_ID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"StatementType": {
							"value": "Insert",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLServerMetadataDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LoopFlowID",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMetadataGroupId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMetadataGroupId').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Start Of Step",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
								"storedProcedureParameters": {
									"DP_STEP_STATUS": {
										"value": "RUNNING",
										"type": "String"
									},
									"ERROR_MESSAGE": {
										"value": null,
										"type": "String"
									},
									"EXEC_INSTANCE_ID": {
										"value": {
											"value": "@variables('InstanceID')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"GROUP_ID": {
										"value": {
											"value": "@pipeline().parameters.groupID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OBJECT_ID": {
										"value": {
											"value": "@item().OBJECT_ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OBJECT_NAME": {
										"value": {
											"value": "@item().OBJECT_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"SRC_REC_COUNT": {
										"value": "NA",
										"type": "String"
									},
									"StatementType": {
										"value": "Insert",
										"type": "String"
									},
									"TGT_REC_COUNT": {
										"value": "NA",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQLServerMetadataDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "If Condition For Full or INCR Load",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Start Of Step",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(toLower(item().SRC_EXTRACT_TYPE),'full')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "SqlWriteMode_INCR",
										"type": "Switch",
										"dependsOn": [
											{
												"activity": "Form INCR Select Query",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@toLower(item().TGT_LOAD_OPTION)",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "upsert",
													"activities": [
														{
															"name": "RDBMStoTempBlob_Incr",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "AzureSqlSource",
																	"sqlReaderQuery": {
																		"value": "@variables('SelectQuery')",
																		"type": "Expression"
																	},
																	"queryTimeout": "02:00:00",
																	"partitionOption": "None"
																},
																"sink": {
																	"type": "ParquetSink",
																	"storeSettings": {
																		"type": "AzureBlobStorageWriteSettings"
																	}
																},
																"enableStaging": false,
																"translator": {
																	"value": "@json(item().MAPPING_EXPRESSION)",
																	"type": "Expression"
																}
															},
															"inputs": [
																{
																	"referenceName": "AzureHyperscale",
																	"type": "DatasetReference",
																	"parameters": {
																		"host": {
																			"value": "@item().SRC_HOST_NAME",
																			"type": "Expression"
																		},
																		"db": {
																			"value": "@item().SRC_DATABASE_NAME",
																			"type": "Expression"
																		},
																		"username": {
																			"value": "@item().SRC_RDBMS_USERNAME",
																			"type": "Expression"
																		},
																		"password": {
																			"value": "@item().SRC_RDBMS_PASSWORD",
																			"type": "Expression"
																		},
																		"schema": {
																			"value": "@item().SRC_SCHEMA",
																			"type": "Expression"
																		},
																		"table": {
																			"value": "@item().SRC_TABLE",
																			"type": "Expression"
																		},
																		"primarykeys": {
																			"value": "@item().TGT_PRIMARY_KEY",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "TempBlob",
																	"type": "DatasetReference",
																	"parameters": {
																		"table": "@item().TGT_TABLE_NAME"
																	}
																}
															]
														},
														{
															"name": "FileToHyperscale_Incr",
															"type": "ExecuteDataFlow",
															"dependsOn": [
																{
																	"activity": "RDBMStoTempBlob_Incr",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"dataflow": {
																	"referenceName": "ExcelToHyperscale",
																	"type": "DataFlowReference",
																	"parameters": {
																		"table": {
																			"value": "'@{item().TGT_TABLE_NAME}'",
																			"type": "Expression"
																		},
																		"primarykeys": {
																			"value": "'@{item().TGT_PRIMARY_KEY}'",
																			"type": "Expression"
																		}
																	},
																	"datasetParameters": {
																		"TempParquet": {
																			"table": "@item().TGT_TABLE_NAME"
																		},
																		"UpsertRDBMS": {
																			"host": "@item().SQL_HOST_NAME",
																			"db": "@item().SQL_DB_NAME",
																			"username": "@item().SQL_USERNAME",
																			"password": "@item().SQL_PASSWORD",
																			"schema": "@item().TGT_SCHEMA_NAME",
																			"table": "@item().TGT_TABLE_NAME",
																			"primarykeys": "@item().TGT_PRIMARY_KEY"
																		}
																	}
																},
																"compute": {
																	"coreCount": 8,
																	"computeType": "General"
																}
															}
														},
														{
															"name": "Failure Of Step Upsert_Incr",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "RDBMStoTempBlob_Incr",
																	"dependencyConditions": [
																		"Failed"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
																"storedProcedureParameters": {
																	"DP_STEP_STATUS": {
																		"value": "FAILED",
																		"type": "String"
																	},
																	"ERROR_MESSAGE": {
																		"value": {
																			"value": "@activity('RDBMStoTempBlob_Incr').Error.Message",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"EXEC_INSTANCE_ID": {
																		"value": {
																			"value": "@variables('InstanceID')",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"GROUP_ID": {
																		"value": {
																			"value": "@pipeline().parameters.groupID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_ID": {
																		"value": {
																			"value": "@item().OBJECT_ID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_NAME": {
																		"value": {
																			"value": "@item().OBJECT_NAME",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"SRC_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	},
																	"StatementType": {
																		"value": "UpdateFailure",
																		"type": "String"
																	},
																	"TGT_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "SQLServerMetadataDB",
																"type": "LinkedServiceReference"
															}
														},
														{
															"name": "Failure Of Step Data Flow_Incr",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "FileToHyperscale_Incr",
																	"dependencyConditions": [
																		"Failed"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
																"storedProcedureParameters": {
																	"DP_STEP_STATUS": {
																		"value": "FAILED",
																		"type": "String"
																	},
																	"ERROR_MESSAGE": {
																		"value": {
																			"value": "@activity('FileToHyperscale_Incr').Error.Message",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"EXEC_INSTANCE_ID": {
																		"value": {
																			"value": "@variables('InstanceID')",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"GROUP_ID": {
																		"value": {
																			"value": "@pipeline().parameters.groupID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_ID": {
																		"value": {
																			"value": "@item().OBJECT_ID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_NAME": {
																		"value": {
																			"value": "@item().OBJECT_NAME",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"SRC_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	},
																	"StatementType": {
																		"value": "UpdateFailure",
																		"type": "String"
																	},
																	"TGT_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "SQLServerMetadataDB",
																"type": "LinkedServiceReference"
															}
														}
													]
												},
												{
													"value": "append",
													"activities": [
														{
															"name": "RDBMSToHyperscaleAppend_Incr",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "AzureSqlSource",
																	"sqlReaderQuery": {
																		"value": "@variables('SelectQuery')",
																		"type": "Expression"
																	},
																	"queryTimeout": "02:00:00",
																	"partitionOption": "None"
																},
																"sink": {
																	"type": "AzureSqlSink"
																},
																"enableStaging": false,
																"translator": {
																	"value": "@json(item().MAPPING_EXPRESSION)",
																	"type": "Expression"
																}
															},
															"inputs": [
																{
																	"referenceName": "AzureHyperscale",
																	"type": "DatasetReference",
																	"parameters": {
																		"host": {
																			"value": "@item().SRC_HOST_NAME",
																			"type": "Expression"
																		},
																		"db": {
																			"value": "@item().SRC_DATABASE_NAME",
																			"type": "Expression"
																		},
																		"username": {
																			"value": "@item().SRC_RDBMS_USERNAME",
																			"type": "Expression"
																		},
																		"password": {
																			"value": "@item().SRC_RDBMS_PASSWORD",
																			"type": "Expression"
																		},
																		"schema": {
																			"value": "@item().SRC_SCHEMA",
																			"type": "Expression"
																		},
																		"table": {
																			"value": "@item().SRC_TABLE",
																			"type": "Expression"
																		},
																		"primarykeys": {
																			"value": "@item().TGT_PRIMARY_KEY",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "AzureHyperscale",
																	"type": "DatasetReference",
																	"parameters": {
																		"host": "@item().SQL_HOST_NAME",
																		"db": "@item().SQL_DB_NAME",
																		"username": "@item().SQL_USERNAME",
																		"password": "@item().SQL_PASSWORD",
																		"schema": "@item().TGT_SCHEMA_NAME",
																		"table": "@item().TGT_TABLE_NAME",
																		"primarykeys": "@item().TGT_PRIMARY_KEY"
																	}
																}
															]
														},
														{
															"name": "Update Audit Table Append_Incr",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "RDBMSToHyperscaleAppend_Incr",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
																"storedProcedureParameters": {
																	"DP_STEP_STATUS": {
																		"value": null,
																		"type": "String"
																	},
																	"ERROR_MESSAGE": {
																		"value": null,
																		"type": "String"
																	},
																	"EXEC_INSTANCE_ID": {
																		"value": {
																			"value": "@variables('InstanceID')",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"GROUP_ID": {
																		"value": {
																			"value": "@pipeline().parameters.groupID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_ID": {
																		"value": {
																			"value": "@item().OBJECT_ID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_NAME": {
																		"value": {
																			"value": "@item().OBJECT_NAME",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"SRC_REC_COUNT": {
																		"value": {
																			"value": "@activity('RDBMSToHyperscaleAppend_Incr').output.rowsRead",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"StatementType": {
																		"value": "UpdateCount",
																		"type": "String"
																	},
																	"TGT_REC_COUNT": {
																		"value": {
																			"value": "@activity('RDBMSToHyperscaleAppend_Incr').output.rowsCopied",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "SQLServerMetadataDB",
																"type": "LinkedServiceReference"
															}
														},
														{
															"name": "Failure Of Step Append_Incr",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "RDBMSToHyperscaleAppend_Incr",
																	"dependencyConditions": [
																		"Failed"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
																"storedProcedureParameters": {
																	"DP_STEP_STATUS": {
																		"value": "FAILED",
																		"type": "String"
																	},
																	"ERROR_MESSAGE": {
																		"value": {
																			"value": "@activity('RDBMSToHyperscaleAppend_Incr').Error.Message",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"EXEC_INSTANCE_ID": {
																		"value": {
																			"value": "@variables('InstanceID')",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"GROUP_ID": {
																		"value": {
																			"value": "@pipeline().parameters.groupID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_ID": {
																		"value": {
																			"value": "@item().OBJECT_ID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_NAME": {
																		"value": {
																			"value": "@item().OBJECT_NAME",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"SRC_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	},
																	"StatementType": {
																		"value": "UpdateFailure",
																		"type": "String"
																	},
																	"TGT_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "SQLServerMetadataDB",
																"type": "LinkedServiceReference"
															}
														}
													]
												},
												{
													"value": "overwrite",
													"activities": [
														{
															"name": "FileToHyperscaleOverwrite_Incr",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "AzureSqlSource",
																	"sqlReaderQuery": {
																		"value": "@variables('SelectQuery')",
																		"type": "Expression"
																	},
																	"queryTimeout": "02:00:00",
																	"partitionOption": "None"
																},
																"sink": {
																	"type": "AzureSqlSink",
																	"preCopyScript": {
																		"value": "@{concat('TRUNCATE TABLE ',concat(item().TGT_SCHEMA_NAME,'.',item().TGT_TABLE_NAME))}",
																		"type": "Expression"
																	},
																	"tableOption": "autoCreate",
																	"disableMetricsCollection": false
																},
																"enableStaging": false,
																"translator": {
																	"value": "@json(item().MAPPING_EXPRESSION)",
																	"type": "Expression"
																}
															},
															"inputs": [
																{
																	"referenceName": "AzureHyperscale",
																	"type": "DatasetReference",
																	"parameters": {
																		"host": {
																			"value": "@item().SRC_HOST_NAME",
																			"type": "Expression"
																		},
																		"db": {
																			"value": "@item().SRC_DATABASE_NAME",
																			"type": "Expression"
																		},
																		"username": {
																			"value": "@item().SRC_RDBMS_USERNAME",
																			"type": "Expression"
																		},
																		"password": {
																			"value": "@item().SRC_RDBMS_PASSWORD",
																			"type": "Expression"
																		},
																		"schema": {
																			"value": "@item().SRC_SCHEMA",
																			"type": "Expression"
																		},
																		"table": {
																			"value": "@item().SRC_TABLE",
																			"type": "Expression"
																		},
																		"primarykeys": {
																			"value": "@item().TGT_PRIMARY_KEY",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "AzureHyperscale",
																	"type": "DatasetReference",
																	"parameters": {
																		"host": "@item().SQL_HOST_NAME",
																		"db": "@item().SQL_DB_NAME",
																		"username": "@item().SQL_USERNAME",
																		"password": "@item().SQL_PASSWORD",
																		"schema": "@item().TGT_SCHEMA_NAME",
																		"table": "@item().TGT_TABLE_NAME",
																		"primarykeys": "@item().TGT_PRIMARY_KEY"
																	}
																}
															]
														},
														{
															"name": "Update Audit Table Overwrite_Incr",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "FileToHyperscaleOverwrite_Incr",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
																"storedProcedureParameters": {
																	"DP_STEP_STATUS": {
																		"value": null,
																		"type": "String"
																	},
																	"ERROR_MESSAGE": {
																		"value": null,
																		"type": "String"
																	},
																	"EXEC_INSTANCE_ID": {
																		"value": {
																			"value": "@variables('InstanceID')",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"GROUP_ID": {
																		"value": {
																			"value": "@pipeline().parameters.groupID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_ID": {
																		"value": {
																			"value": "@item().OBJECT_ID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_NAME": {
																		"value": {
																			"value": "@item().OBJECT_NAME",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"SRC_REC_COUNT": {
																		"value": {
																			"value": "@activity('FileToHyperscaleOverwrite_Incr').output.rowsRead",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"StatementType": {
																		"value": "UpdateCount",
																		"type": "String"
																	},
																	"TGT_REC_COUNT": {
																		"value": {
																			"value": "@activity('FileToHyperscaleOverwrite_Incr').output.rowsCopied",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "SQLServerMetadataDB",
																"type": "LinkedServiceReference"
															}
														},
														{
															"name": "Failure Of Step Overwrite_Incr",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "FileToHyperscaleOverwrite_Incr",
																	"dependencyConditions": [
																		"Failed"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
																"storedProcedureParameters": {
																	"DP_STEP_STATUS": {
																		"value": "FAILED",
																		"type": "String"
																	},
																	"ERROR_MESSAGE": {
																		"value": {
																			"value": "@activity('FileToHyperscaleOverwrite_Incr').Error.Message",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"EXEC_INSTANCE_ID": {
																		"value": {
																			"value": "@variables('InstanceID')",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"GROUP_ID": {
																		"value": {
																			"value": "@pipeline().parameters.groupID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_ID": {
																		"value": {
																			"value": "@item().OBJECT_ID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_NAME": {
																		"value": {
																			"value": "@item().OBJECT_NAME",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"SRC_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	},
																	"StatementType": {
																		"value": "UpdateFailure",
																		"type": "String"
																	},
																	"TGT_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "SQLServerMetadataDB",
																"type": "LinkedServiceReference"
															}
														}
													]
												}
											]
										}
									},
									{
										"name": "Success Of SqlWriteMode_INCR",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "SqlWriteMode_INCR",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
											"storedProcedureParameters": {
												"DP_STEP_STATUS": {
													"value": "SUCCESS",
													"type": "String"
												},
												"ERROR_MESSAGE": {
													"value": null,
													"type": "String"
												},
												"EXEC_INSTANCE_ID": {
													"value": {
														"value": "@variables('InstanceID')",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"GROUP_ID": {
													"value": {
														"value": "@pipeline().parameters.groupID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"OBJECT_ID": {
													"value": {
														"value": "@item().OBJECT_ID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"OBJECT_NAME": {
													"value": {
														"value": "@item().OBJECT_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"SRC_REC_COUNT": {
													"value": null,
													"type": "String"
												},
												"StatementType": {
													"value": "UpdateSuccess",
													"type": "String"
												},
												"TGT_REC_COUNT": {
													"value": null,
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SQLServerMetadataDB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Form INCR Select Query",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "SelectQuery",
											"value": {
												"value": "@{concat('SELECT ', item().SRC_COLUMNS,' FROM ',item().SRC_SCHEMA,'.',item().SRC_TABLE, ' WHERE ', item().SRC_INCREMENTAL_COLUMN, ' > ', '''',item().SRC_INCREMENTAL_VALUE,'''')}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Failure Of SqlWriteMode_INCR",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "SqlWriteMode_INCR",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
											"storedProcedureParameters": {
												"DP_STEP_STATUS": {
													"value": "FAILED",
													"type": "String"
												},
												"ERROR_MESSAGE": {
													"value": {
														"value": "@activity('SqlWriteMode_INCR').Error.Message",
														"type": "Expression"
													},
													"type": "String"
												},
												"EXEC_INSTANCE_ID": {
													"value": {
														"value": "@variables('InstanceID')",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"GROUP_ID": {
													"value": {
														"value": "@pipeline().parameters.groupID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"OBJECT_ID": {
													"value": {
														"value": "@item().OBJECT_ID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"OBJECT_NAME": {
													"value": {
														"value": "@item().OBJECT_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"SRC_REC_COUNT": {
													"value": "NA",
													"type": "String"
												},
												"StatementType": {
													"value": "UpdateFailure",
													"type": "String"
												},
												"TGT_REC_COUNT": {
													"value": "NA",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SQLServerMetadataDB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Get Target Max Value",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Success Of SqlWriteMode_INCR",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@{concat('SELECT MAX(', item().TGT_INCREMENTAL_COLUMN, ') as MaxDate FROM ',item().TGT_SCHEMA_NAME,'.',item().TGT_TABLE_NAME)}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "AzureHyperscale",
												"type": "DatasetReference",
												"parameters": {
													"host": {
														"value": "@item().SQL_HOST_NAME",
														"type": "Expression"
													},
													"db": {
														"value": "@item().SQL_DB_NAME",
														"type": "Expression"
													},
													"username": {
														"value": "@item().SQL_USERNAME",
														"type": "Expression"
													},
													"password": {
														"value": "@item().SQL_PASSWORD",
														"type": "Expression"
													},
													"schema": {
														"value": "@item().TGT_SCHEMA_NAME",
														"type": "Expression"
													},
													"table": {
														"value": "@item().TGT_TABLE_NAME",
														"type": "Expression"
													},
													"primarykeys": {
														"value": "@item().TGT_PRIMARY_KEY",
														"type": "Expression"
													}
												}
											}
										}
									},
									{
										"name": "Update Max Value In Metadata DB",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Get Target Max Value",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[RDBMS_INGESTION_DETAILS_SP]",
											"storedProcedureParameters": {
												"FLOW_ID": {
													"value": {
														"value": "@pipeline().parameters.FLOW_ID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"GROUP_ID": {
													"value": {
														"value": "@pipeline().parameters.groupID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"OBJECT_ID": {
													"value": {
														"value": "@item().OBJECT_ID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"SRC_INCREMENTAL_VALUE": {
													"value": {
														"value": "@activity('Get Target Max Value').output.firstRow.MaxDate",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SQLServerMetadataDB",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "SqlWriteMode",
										"type": "Switch",
										"dependsOn": [
											{
												"activity": "Form Full Load Select Query",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@toLower(item().TGT_LOAD_OPTION)",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "upsert",
													"activities": [
														{
															"name": "RDBMStoTempBlob",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "AzureSqlSource",
																	"sqlReaderQuery": {
																		"value": "@variables('SelectQuery')",
																		"type": "Expression"
																	},
																	"queryTimeout": "02:00:00",
																	"partitionOption": "None"
																},
																"sink": {
																	"type": "ParquetSink",
																	"storeSettings": {
																		"type": "AzureBlobStorageWriteSettings"
																	}
																},
																"enableStaging": false,
																"translator": {
																	"value": "@json(item().MAPPING_EXPRESSION)",
																	"type": "Expression"
																}
															},
															"inputs": [
																{
																	"referenceName": "AzureHyperscale",
																	"type": "DatasetReference",
																	"parameters": {
																		"host": {
																			"value": "@item().SRC_HOST_NAME",
																			"type": "Expression"
																		},
																		"db": {
																			"value": "@item().SRC_DATABASE_NAME",
																			"type": "Expression"
																		},
																		"username": {
																			"value": "@item().SRC_RDBMS_USERNAME",
																			"type": "Expression"
																		},
																		"password": {
																			"value": "@item().SRC_RDBMS_PASSWORD",
																			"type": "Expression"
																		},
																		"schema": {
																			"value": "@item().SRC_SCHEMA",
																			"type": "Expression"
																		},
																		"table": {
																			"value": "@item().SRC_TABLE",
																			"type": "Expression"
																		},
																		"primarykeys": {
																			"value": "@item().TGT_PRIMARY_KEY",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "TempBlob",
																	"type": "DatasetReference",
																	"parameters": {
																		"table": "@item().TGT_TABLE_NAME"
																	}
																}
															]
														},
														{
															"name": "FileToHyperscale",
															"type": "ExecuteDataFlow",
															"dependsOn": [
																{
																	"activity": "RDBMStoTempBlob",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"dataflow": {
																	"referenceName": "ExcelToHyperscale",
																	"type": "DataFlowReference",
																	"parameters": {
																		"table": {
																			"value": "'@{item().TGT_TABLE_NAME}'",
																			"type": "Expression"
																		},
																		"primarykeys": {
																			"value": "'@{item().TGT_PRIMARY_KEY}'",
																			"type": "Expression"
																		}
																	},
																	"datasetParameters": {
																		"TempParquet": {
																			"table": "@item().TGT_TABLE_NAME"
																		},
																		"UpsertRDBMS": {
																			"host": "@item().SQL_HOST_NAME",
																			"db": "@item().SQL_DB_NAME",
																			"username": "@item().SQL_USERNAME",
																			"password": "@item().SQL_PASSWORD",
																			"schema": "@item().TGT_SCHEMA_NAME",
																			"table": "@item().TGT_TABLE_NAME",
																			"primarykeys": "@item().TGT_PRIMARY_KEY"
																		}
																	}
																},
																"compute": {
																	"coreCount": 8,
																	"computeType": "General"
																}
															}
														},
														{
															"name": "Failure Of Step Upsert",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "RDBMStoTempBlob",
																	"dependencyConditions": [
																		"Failed"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
																"storedProcedureParameters": {
																	"DP_STEP_STATUS": {
																		"value": "FAILED",
																		"type": "String"
																	},
																	"ERROR_MESSAGE": {
																		"value": {
																			"value": "@activity('RDBMStoTempBlob').Error.Message",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"EXEC_INSTANCE_ID": {
																		"value": {
																			"value": "@variables('InstanceID')",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"GROUP_ID": {
																		"value": {
																			"value": "@pipeline().parameters.groupID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_ID": {
																		"value": {
																			"value": "@item().OBJECT_ID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_NAME": {
																		"value": {
																			"value": "@item().OBJECT_NAME",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"SRC_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	},
																	"StatementType": {
																		"value": "UpdateFailure",
																		"type": "String"
																	},
																	"TGT_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "SQLServerMetadataDB",
																"type": "LinkedServiceReference"
															}
														},
														{
															"name": "Failure Of Step Data Flow",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "FileToHyperscale",
																	"dependencyConditions": [
																		"Failed"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
																"storedProcedureParameters": {
																	"DP_STEP_STATUS": {
																		"value": "FAILED",
																		"type": "String"
																	},
																	"ERROR_MESSAGE": {
																		"value": {
																			"value": "@activity('FileToHyperscale').Error.Message",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"EXEC_INSTANCE_ID": {
																		"value": {
																			"value": "@variables('InstanceID')",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"GROUP_ID": {
																		"value": {
																			"value": "@pipeline().parameters.groupID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_ID": {
																		"value": {
																			"value": "@item().OBJECT_ID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_NAME": {
																		"value": {
																			"value": "@item().OBJECT_NAME",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"SRC_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	},
																	"StatementType": {
																		"value": "UpdateFailure",
																		"type": "String"
																	},
																	"TGT_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "SQLServerMetadataDB",
																"type": "LinkedServiceReference"
															}
														}
													]
												},
												{
													"value": "append",
													"activities": [
														{
															"name": "RDBMSToHyperscaleAppend",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "AzureSqlSource",
																	"sqlReaderQuery": {
																		"value": "@variables('SelectQuery')",
																		"type": "Expression"
																	},
																	"queryTimeout": "02:00:00",
																	"partitionOption": "None"
																},
																"sink": {
																	"type": "AzureSqlSink"
																},
																"enableStaging": false,
																"translator": {
																	"value": "@json(item().MAPPING_EXPRESSION)",
																	"type": "Expression"
																}
															},
															"inputs": [
																{
																	"referenceName": "AzureHyperscale",
																	"type": "DatasetReference",
																	"parameters": {
																		"host": {
																			"value": "@item().SRC_HOST_NAME",
																			"type": "Expression"
																		},
																		"db": {
																			"value": "@item().SRC_DATABASE_NAME",
																			"type": "Expression"
																		},
																		"username": {
																			"value": "@item().SRC_RDBMS_USERNAME",
																			"type": "Expression"
																		},
																		"password": {
																			"value": "@item().SRC_RDBMS_PASSWORD",
																			"type": "Expression"
																		},
																		"schema": {
																			"value": "@item().SRC_SCHEMA",
																			"type": "Expression"
																		},
																		"table": {
																			"value": "@item().SRC_TABLE",
																			"type": "Expression"
																		},
																		"primarykeys": {
																			"value": "@item().TGT_PRIMARY_KEY",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "AzureHyperscale",
																	"type": "DatasetReference",
																	"parameters": {
																		"host": "@item().SQL_HOST_NAME",
																		"db": "@item().SQL_DB_NAME",
																		"username": "@item().SQL_USERNAME",
																		"password": "@item().SQL_PASSWORD",
																		"schema": "@item().TGT_SCHEMA_NAME",
																		"table": "@item().TGT_TABLE_NAME",
																		"primarykeys": "@item().TGT_PRIMARY_KEY"
																	}
																}
															]
														},
														{
															"name": "Update Audit Table Append",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "RDBMSToHyperscaleAppend",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
																"storedProcedureParameters": {
																	"DP_STEP_STATUS": {
																		"value": null,
																		"type": "String"
																	},
																	"ERROR_MESSAGE": {
																		"value": null,
																		"type": "String"
																	},
																	"EXEC_INSTANCE_ID": {
																		"value": {
																			"value": "@variables('InstanceID')",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"GROUP_ID": {
																		"value": {
																			"value": "@pipeline().parameters.groupID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_ID": {
																		"value": {
																			"value": "@item().OBJECT_ID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_NAME": {
																		"value": {
																			"value": "@item().OBJECT_NAME",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"SRC_REC_COUNT": {
																		"value": {
																			"value": "@activity('RDBMSToHyperscaleAppend').output.rowsRead",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"StatementType": {
																		"value": "UpdateCount",
																		"type": "String"
																	},
																	"TGT_REC_COUNT": {
																		"value": {
																			"value": "@activity('RDBMSToHyperscaleAppend').output.rowsCopied",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "SQLServerMetadataDB",
																"type": "LinkedServiceReference"
															}
														},
														{
															"name": "Failure Of Step Append",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "RDBMSToHyperscaleAppend",
																	"dependencyConditions": [
																		"Failed"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
																"storedProcedureParameters": {
																	"DP_STEP_STATUS": {
																		"value": "FAILED",
																		"type": "String"
																	},
																	"ERROR_MESSAGE": {
																		"value": {
																			"value": "@activity('RDBMSToHyperscaleAppend').Error.Message",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"EXEC_INSTANCE_ID": {
																		"value": {
																			"value": "@variables('InstanceID')",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"GROUP_ID": {
																		"value": {
																			"value": "@pipeline().parameters.groupID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_ID": {
																		"value": {
																			"value": "@item().OBJECT_ID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_NAME": {
																		"value": {
																			"value": "@item().OBJECT_NAME",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"SRC_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	},
																	"StatementType": {
																		"value": "UpdateFailure",
																		"type": "String"
																	},
																	"TGT_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "SQLServerMetadataDB",
																"type": "LinkedServiceReference"
															}
														}
													]
												},
												{
													"value": "overwrite",
													"activities": [
														{
															"name": "RDBMSToHyperscaleOverwrite",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "AzureSqlSource",
																	"sqlReaderQuery": {
																		"value": "@variables('SelectQuery')",
																		"type": "Expression"
																	},
																	"queryTimeout": "02:00:00",
																	"partitionOption": "None"
																},
																"sink": {
																	"type": "AzureSqlSink",
																	"preCopyScript": {
																		"value": "@{concat('TRUNCATE TABLE ',concat(item().TGT_SCHEMA_NAME,'.',item().TGT_TABLE_NAME))}",
																		"type": "Expression"
																	},
																	"tableOption": "autoCreate",
																	"disableMetricsCollection": false
																},
																"enableStaging": false,
																"translator": {
																	"value": "@json(item().MAPPING_EXPRESSION)",
																	"type": "Expression"
																}
															},
															"inputs": [
																{
																	"referenceName": "AzureHyperscale",
																	"type": "DatasetReference",
																	"parameters": {
																		"host": {
																			"value": "@item().SRC_HOST_NAME",
																			"type": "Expression"
																		},
																		"db": {
																			"value": "@item().SRC_DATABASE_NAME",
																			"type": "Expression"
																		},
																		"username": {
																			"value": "@item().SRC_RDBMS_USERNAME",
																			"type": "Expression"
																		},
																		"password": {
																			"value": "@item().SRC_RDBMS_PASSWORD",
																			"type": "Expression"
																		},
																		"schema": {
																			"value": "@item().SRC_SCHEMA",
																			"type": "Expression"
																		},
																		"table": {
																			"value": "@item().SRC_TABLE",
																			"type": "Expression"
																		},
																		"primarykeys": {
																			"value": "@item().TGT_PRIMARY_KEY",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "AzureHyperscale",
																	"type": "DatasetReference",
																	"parameters": {
																		"host": "@item().SQL_HOST_NAME",
																		"db": "@item().SQL_DB_NAME",
																		"username": "@item().SQL_USERNAME",
																		"password": "@item().SQL_PASSWORD",
																		"schema": "@item().TGT_SCHEMA_NAME",
																		"table": "@item().TGT_TABLE_NAME",
																		"primarykeys": "@item().TGT_PRIMARY_KEY"
																	}
																}
															]
														},
														{
															"name": "Update Audit Table Overwrite",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "RDBMSToHyperscaleOverwrite",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
																"storedProcedureParameters": {
																	"DP_STEP_STATUS": {
																		"value": null,
																		"type": "String"
																	},
																	"ERROR_MESSAGE": {
																		"value": null,
																		"type": "String"
																	},
																	"EXEC_INSTANCE_ID": {
																		"value": {
																			"value": "@variables('InstanceID')",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"GROUP_ID": {
																		"value": {
																			"value": "@pipeline().parameters.groupID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_ID": {
																		"value": {
																			"value": "@item().OBJECT_ID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_NAME": {
																		"value": {
																			"value": "@item().OBJECT_NAME",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"SRC_REC_COUNT": {
																		"value": {
																			"value": "@activity('RDBMSToHyperscaleOverwrite').output.rowsRead",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"StatementType": {
																		"value": "UpdateCount",
																		"type": "String"
																	},
																	"TGT_REC_COUNT": {
																		"value": {
																			"value": "@activity('RDBMSToHyperscaleOverwrite').output.rowsCopied",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "SQLServerMetadataDB",
																"type": "LinkedServiceReference"
															}
														},
														{
															"name": "Failure Of Step Overwrite",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "RDBMSToHyperscaleOverwrite",
																	"dependencyConditions": [
																		"Failed"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
																"storedProcedureParameters": {
																	"DP_STEP_STATUS": {
																		"value": "FAILED",
																		"type": "String"
																	},
																	"ERROR_MESSAGE": {
																		"value": {
																			"value": "@activity('RDBMSToHyperscaleOverwrite').Error.Message",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"EXEC_INSTANCE_ID": {
																		"value": {
																			"value": "@variables('InstanceID')",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"GROUP_ID": {
																		"value": {
																			"value": "@pipeline().parameters.groupID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_ID": {
																		"value": {
																			"value": "@item().OBJECT_ID",
																			"type": "Expression"
																		},
																		"type": "Int32"
																	},
																	"OBJECT_NAME": {
																		"value": {
																			"value": "@item().OBJECT_NAME",
																			"type": "Expression"
																		},
																		"type": "String"
																	},
																	"SRC_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	},
																	"StatementType": {
																		"value": "UpdateFailure",
																		"type": "String"
																	},
																	"TGT_REC_COUNT": {
																		"value": "NA",
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "SQLServerMetadataDB",
																"type": "LinkedServiceReference"
															}
														}
													]
												}
											]
										}
									},
									{
										"name": "Success Of SqlWriteMode",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "SqlWriteMode",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
											"storedProcedureParameters": {
												"DP_STEP_STATUS": {
													"value": "SUCCESS",
													"type": "String"
												},
												"ERROR_MESSAGE": {
													"value": null,
													"type": "String"
												},
												"EXEC_INSTANCE_ID": {
													"value": {
														"value": "@variables('InstanceID')",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"GROUP_ID": {
													"value": {
														"value": "@pipeline().parameters.groupID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"OBJECT_ID": {
													"value": {
														"value": "@item().OBJECT_ID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"OBJECT_NAME": {
													"value": {
														"value": "@item().OBJECT_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"SRC_REC_COUNT": {
													"value": null,
													"type": "String"
												},
												"StatementType": {
													"value": "UpdateSuccess",
													"type": "String"
												},
												"TGT_REC_COUNT": {
													"value": null,
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SQLServerMetadataDB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Form Full Load Select Query",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "SelectQuery",
											"value": {
												"value": "@{concat('SELECT ', item().SRC_COLUMNS,' FROM ', item().SRC_SCHEMA,'.',item().SRC_TABLE)}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Failure Of SqlWriteMode",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "SqlWriteMode",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[DATA_PROCESSING_EXEC_LOG_SP]",
											"storedProcedureParameters": {
												"DP_STEP_STATUS": {
													"value": "FAILED",
													"type": "String"
												},
												"ERROR_MESSAGE": {
													"value": {
														"value": "@activity('SqlWriteMode').Error.Message",
														"type": "Expression"
													},
													"type": "String"
												},
												"EXEC_INSTANCE_ID": {
													"value": {
														"value": "@variables('InstanceID')",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"GROUP_ID": {
													"value": {
														"value": "@pipeline().parameters.groupID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"OBJECT_ID": {
													"value": {
														"value": "@item().OBJECT_ID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"OBJECT_NAME": {
													"value": {
														"value": "@item().OBJECT_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"SRC_REC_COUNT": {
													"value": "NA",
													"type": "String"
												},
												"StatementType": {
													"value": "UpdateFailure",
													"type": "String"
												},
												"TGT_REC_COUNT": {
													"value": "NA",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SQLServerMetadataDB",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Success Of Flow",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LoopFlowID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[DATA_FLOW_EXEC_LOG_SP]",
					"storedProcedureParameters": {
						"EXEC_INSTANCE_ID": {
							"value": {
								"value": "@variables('InstanceID')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"EXEC_STATUS": {
							"value": "SUCCESS",
							"type": "String"
						},
						"FLOW_ID": {
							"value": {
								"value": "@pipeline().parameters.FLOW_ID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"StatementType": {
							"value": "Update",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLServerMetadataDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Failure Of Flow",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LoopFlowID",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[DATA_FLOW_EXEC_LOG_SP]",
					"storedProcedureParameters": {
						"EXEC_INSTANCE_ID": {
							"value": {
								"value": "@variables('InstanceID')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"EXEC_STATUS": {
							"value": "FAILED",
							"type": "String"
						},
						"FLOW_ID": {
							"value": {
								"value": "@pipeline().parameters.FLOW_ID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"StatementType": {
							"value": "Update",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLServerMetadataDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"concurrency": 50,
		"parameters": {
			"groupID": {
				"type": "String",
				"defaultValue": "4"
			},
			"FLOW_ID": {
				"type": "string",
				"defaultValue": "4"
			}
		},
		"variables": {
			"InstanceID": {
				"type": "String",
				"defaultValue": "0"
			},
			"SelectQuery": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-08-18T12:35:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}